article {
    margin: 0 auto;
    max-width: 768px;
    text-align: center;
    padding: 0 1rem 1rem;
}

table {
    margin: 0 auto;
}

td {
    padding: .15rem 0;
}

td:first-child {
    width: 30%;
    padding-right: 1rem;
    text-align: right;
}

tr:last-child td:last-child {
    color: white;
    padding: .5rem;
    font-weight: 600;
    background: darkslateblue;
}

td.inputs {
    position: relative;

    button {
        position: absolute;

        &[data-button='dec'] {
            right: 2rem;
        }

        &[data-button='inc'] {
            right: 0;
        }
    }
}

button {
    border: 0;
    width: 2rem;
    color: white;
    font-weight: 600;
    padding: .2rem 0;
    background: darkslateblue;
}

button[data-button='dec'] {
    background: darkgoldenrod;
}
